.para
{
    color:#ADBABD;
}

.thumb
{
    font-size: 12px;
    font-weight: bolder;
    border-radius: 10px;
    letter-spacing: 5px;
    outline: white;
    border: 1px solid black;
    padding: 10px;
    background-color: blanchedalmond;
    height: 60px;
    width: fit-content;
}


h2{
    font-size: 1.3rem;
    font-weight: bolder;
}